@import url(reset.css);
@import url(fonts/Aller/webkit/stylesheet.css);
body, header, main, footer {
  font-family: "aller_lightregular";
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 2em;
  overflow: hidden; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75; }

h1, h2, h3, h4, h5, h6 {
  color: #fff; }

.body-wrap {
  overflow: hidden; }
  .body-wrap main {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #55CB92; }
    .body-wrap main .tab-wrap {
      position: absolute;
      width: 100px;
      height: auto;
      top: 0;
      left: 90%;
      margin: 1vw;
      line-height: 20px; }
      .body-wrap main .tab-wrap img, .body-wrap main .tab-wrap h4 {
        float: left; }
      .body-wrap main .tab-wrap h4 {
        margin-top: 5px; }
    .body-wrap main .banner-wrap {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 30em;
      top: 0;
      left: 0; }
      .body-wrap main .banner-wrap .menu-wrap {
        position: relative;
        display: inline-block;
        width: 100%;
        top: 25%;
        text-align: center; }
        .body-wrap main .banner-wrap .menu-wrap .headline-wrap {
          margin: 1em;
          line-height: 3em;
          text-align: center;
          text-shadow: 5px 1px 10px rgba(150, 150, 150, 0.9); }
          .body-wrap main .banner-wrap .menu-wrap .headline-wrap .headline {
            font-size: 200%;
            color: #fff; }
          .body-wrap main .banner-wrap .menu-wrap .headline-wrap .subheadline {
            color: #fff; }
        .body-wrap main .banner-wrap .menu-wrap .instructions-wrap {
          width: 100%;
          margin-top: 35px;
          color: #fff; }
        .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 25vw;
          margin-top: 35px; }
          .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .enter-ingredients input, .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .enter-ingredients textarea, .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .enter-ingredients select {
            border: 1px solid #555;
            padding: 0.5em;
            font-size: 25px;
            line-height: 1.2em;
            color: #fff;
            background: #fff;
            background: rgba(0, 0, 0, 0.5);
            -webkit-appearance: none;
            -webkit-box-shadow: 1px 1px 1px #fff;
            -webkit-border-radius: 0.5em; }
          .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .enter-ingredients input:focus {
            outline: none; }
          .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .enter-ingredients #ingEntry {
            width: 90%; }
          .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .hint-wrap {
            font-size: 0.70em;
            display: none; }
          .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .list-wrap {
            display: inline-block;
            width: 100%;
            text-align: center;
            max-height: 250px;
            overflow: hidden; }
            .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .list-wrap ul {
              margin: 5px;
              overflow: auto; }
              .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .list-wrap ul li {
                background-color: green;
                margin-top: 2px;
                padding: 7px;
                -webkit-box-shadow: 1px 1px 1px #fff;
                -webkit-border-radius: 0.5em;
                background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
                text-align: left; }
                .body-wrap main .banner-wrap .menu-wrap .ingredients-wrap .list-wrap ul li .icono-hamburger {
                  color: #55CB92;
                  float: right; }
  .body-wrap aside {
    visibility: none; }

/*# sourceMappingURL=main_style.css.map */
